
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}@import "tailwindcss";

html, body { height: 100%; }

button {
  cursor: pointer;
}

* {
  font-family: 'mitr';
}

@font-face {
  font-family: 'PlaypenSansThai';
  src: url('assent/font/PlaypenSansThai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlaypenSansThai';
  src: url('assent/font/PlaypenSansThai-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'mitr';
  src: url('assent/Mitr/Mitr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mitr';
  src: url('assent/Mitr/Mitr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

